n8n/workflow-user-api.json
{"updatedAt":"2026-02-07T23:56:33.254Z","createdAt":"2026-02-07T23:49:42.144Z","id":"WJVgvn9AaEQOBgeN","name":"Surayt User API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"surayt-user","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"surayt-user-webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","version":2,"typeValidation":"strict"},"conditions":[{"id":"cond-appkey","leftValue":"={{ $json.headers['x-app-key'] }}","rightValue":"surayt-2026-key","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if-check-key","name":"Check App Key","type":"n8n-nodes-base.if","typeVersion":2,"position":[250,0]},{"parameters":{"rules":{"values":[{"outputKey":"get_user","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"get_user","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"create_user","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"create_user","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"update_progress","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"update_progress","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"heartbeat","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"heartbeat","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true}]},"options":{}},"id":"switch-router","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[500,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Unauthorized or unknown action' }) }}","options":{"responseCode":400}},"id":"respond-error","name":"Error Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,500]},{"parameters":{"url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329?where=(token,eq,{{ $('Webhook').first().json.body.token }})&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-get-user","name":"Find User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,-300],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"jsCode":"const rows = $('Find User').first().json.list || [];\nif (!rows.length) {\n  return { json: { error: 'User not found' } };\n}\nreturn { json: rows[0] };","mode":"runOnceForAllItems"},"id":"code-extract-user","name":"Extract User","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,-300]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-get-user","name":"Respond Get User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,-300]},{"parameters":{"jsCode":"const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet token = '';\nfor (let i = 0; i < 24; i++) token += chars[Math.floor(Math.random() * chars.length)];\nconst now = new Date().toISOString();\nreturn {\n  json: {\n    token,\n    display_name: $('Webhook').first().json.body.display_name || 'Learner',\n    preferred_lang: $('Webhook').first().json.body.lang || 'en',\n    created_at: now,\n    last_active: now,\n    progress: JSON.stringify({ xp: 0, streak: 0, lessons: {}, lastDate: '' })\n  }\n};","mode":"runOnceForAllItems"},"id":"code-gen-token","name":"Generate Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,-100]},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"http-create-user","name":"Create User in DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-100],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-create-user","name":"Respond Create User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,-100]},{"parameters":{"jsCode":"const body = $('Webhook').first().json.body;\nreturn {\n  json: {\n    token: body.token,\n    progress: JSON.stringify(body.progress),\n    last_active: new Date().toISOString()\n  }\n};","mode":"runOnceForAllItems"},"id":"code-prep-update","name":"Prepare Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,100]},{"parameters":{"url":"={{ 'https://nocodb.run8n.xyz/api/v1/db/data/bulk/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329?where=(token,eq,' + $json.token + ')' }}","method":"PATCH","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ progress: $json.progress, last_active: $json.last_active }]) }}","options":{}},"id":"http-patch-progress","name":"Update Progress in DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,100],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-update-progress","name":"Respond Update Progress","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1500,100]},{"parameters":{"jsCode":"const body = $('Webhook').first().json.body;\nreturn {\n  json: {\n    token: body.token,\n    last_active: new Date().toISOString()\n  }\n};","mode":"runOnceForAllItems"},"id":"code-heartbeat-extract","name":"Extract Heartbeat Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300]},{"parameters":{"url":"={{ 'https://nocodb.run8n.xyz/api/v1/db/data/bulk/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329?where=(token,eq,' + $json.token + ')' }}","method":"PATCH","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ last_active: $json.last_active }]) }}","options":{}},"id":"http-patch-heartbeat","name":"Update Heartbeat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,300],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-heartbeat","name":"Respond Heartbeat","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1500,300]}],"connections":{"Webhook":{"main":[[{"node":"Check App Key","type":"main","index":0}]]},"Check App Key":{"main":[[{"node":"Router","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Router":{"main":[[{"node":"Find User","type":"main","index":0}],[{"node":"Generate Token","type":"main","index":0}],[{"node":"Prepare Update","type":"main","index":0}],[{"node":"Extract Heartbeat Row","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Find User":{"main":[[{"node":"Extract User","type":"main","index":0}]]},"Extract User":{"main":[[{"node":"Respond Get User","type":"main","index":0}]]},"Generate Token":{"main":[[{"node":"Create User in DB","type":"main","index":0}]]},"Create User in DB":{"main":[[{"node":"Respond Create User","type":"main","index":0}]]},"Prepare Update":{"main":[[{"node":"Update Progress in DB","type":"main","index":0}]]},"Update Progress in DB":{"main":[[{"node":"Respond Update Progress","type":"main","index":0}]]},"Extract Heartbeat Row":{"main":[[{"node":"Update Heartbeat","type":"main","index":0}]]},"Update Heartbeat":{"main":[[{"node":"Respond Heartbeat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"8900af2b-ec49-4244-b595-b88ac365d111","activeVersionId":"8900af2b-ec49-4244-b595-b88ac365d111","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-02-07T23:49:42.147Z","createdAt":"2026-02-07T23:49:42.147Z","role":"workflow:owner","workflowId":"WJVgvn9AaEQOBgeN","projectId":"dlCu6IRWoTzv6lC7","project":{"updatedAt":"2024-09-09T22:37:32.381Z","createdAt":"2024-09-09T17:25:52.606Z","id":"dlCu6IRWoTzv6lC7","name":"Serjoscha During <ser.due@me.com>","type":"personal","icon":null,"description":null,"creatorId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","projectRelations":[{"updatedAt":"2024-09-09T17:25:52.606Z","createdAt":"2024-09-09T17:25:52.606Z","userId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","projectId":"dlCu6IRWoTzv6lC7","user":{"updatedAt":"2026-02-09T23:47:34.000Z","createdAt":"2024-09-09T17:25:51.891Z","id":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","email":"ser.due@me.com","firstName":"Serjoscha","lastName":"During","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-09T22:37:45.710Z","personalization_survey_n8n_version":"1.57.0","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"O1ykmELL54Eg3lIY","userActivatedAt":1726043234558,"npsSurvey":{"responded":true,"lastShownAt":1762416426003},"isOnboarded":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-02-08T00:20:12.973Z","createdAt":"2026-02-08T00:20:12.973Z","id":"2DqHmbMSIwxZOIoC","name":"Surayt-App"}],"activeVersion":{"updatedAt":"2026-02-07T23:56:33.255Z","createdAt":"2026-02-07T23:56:33.255Z","versionId":"8900af2b-ec49-4244-b595-b88ac365d111","workflowId":"WJVgvn9AaEQOBgeN","nodes":[{"parameters":{"httpMethod":"POST","path":"surayt-user","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"surayt-user-webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","version":2,"typeValidation":"strict"},"conditions":[{"id":"cond-appkey","leftValue":"={{ $json.headers['x-app-key'] }}","rightValue":"surayt-2026-key","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if-check-key","name":"Check App Key","type":"n8n-nodes-base.if","typeVersion":2,"position":[250,0]},{"parameters":{"rules":{"values":[{"outputKey":"get_user","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"get_user","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"create_user","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"create_user","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"update_progress","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"update_progress","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"heartbeat","conditions":{"conditions":[{"leftValue":"={{ $json.body.action }}","rightValue":"heartbeat","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true}]},"options":{}},"id":"switch-router","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[500,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Unauthorized or unknown action' }) }}","options":{"responseCode":400}},"id":"respond-error","name":"Error Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[750,500]},{"parameters":{"url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329?where=(token,eq,{{ $('Webhook').first().json.body.token }})&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-get-user","name":"Find User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[750,-300],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"jsCode":"const rows = $('Find User').first().json.list || [];\nif (!rows.length) {\n  return { json: { error: 'User not found' } };\n}\nreturn { json: rows[0] };","mode":"runOnceForAllItems"},"id":"code-extract-user","name":"Extract User","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,-300]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-get-user","name":"Respond Get User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,-300]},{"parameters":{"jsCode":"const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet token = '';\nfor (let i = 0; i < 24; i++) token += chars[Math.floor(Math.random() * chars.length)];\nconst now = new Date().toISOString();\nreturn {\n  json: {\n    token,\n    display_name: $('Webhook').first().json.body.display_name || 'Learner',\n    preferred_lang: $('Webhook').first().json.body.lang || 'en',\n    created_at: now,\n    last_active: now,\n    progress: JSON.stringify({ xp: 0, streak: 0, lessons: {}, lastDate: '' })\n  }\n};","mode":"runOnceForAllItems"},"id":"code-gen-token","name":"Generate Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,-100]},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329","method":"POST","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"http-create-user","name":"Create User in DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-100],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-create-user","name":"Respond Create User","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,-100]},{"parameters":{"jsCode":"const body = $('Webhook').first().json.body;\nreturn {\n  json: {\n    token: body.token,\n    progress: JSON.stringify(body.progress),\n    last_active: new Date().toISOString()\n  }\n};","mode":"runOnceForAllItems"},"id":"code-prep-update","name":"Prepare Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,100]},{"parameters":{"url":"={{ 'https://nocodb.run8n.xyz/api/v1/db/data/bulk/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329?where=(token,eq,' + $json.token + ')' }}","method":"PATCH","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ progress: $json.progress, last_active: $json.last_active }]) }}","options":{}},"id":"http-patch-progress","name":"Update Progress in DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,100],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-update-progress","name":"Respond Update Progress","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1500,100]},{"parameters":{"jsCode":"const body = $('Webhook').first().json.body;\nreturn {\n  json: {\n    token: body.token,\n    last_active: new Date().toISOString()\n  }\n};","mode":"runOnceForAllItems"},"id":"code-heartbeat-extract","name":"Extract Heartbeat Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300]},{"parameters":{"url":"={{ 'https://nocodb.run8n.xyz/api/v1/db/data/bulk/noco/pfc85e1x5bmxs0g/mjxqqok17wp6329?where=(token,eq,' + $json.token + ')' }}","method":"PATCH","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify([{ last_active: $json.last_active }]) }}","options":{}},"id":"http-patch-heartbeat","name":"Update Heartbeat","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,300],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-heartbeat","name":"Respond Heartbeat","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1500,300]}],"connections":{"Webhook":{"main":[[{"node":"Check App Key","type":"main","index":0}]]},"Check App Key":{"main":[[{"node":"Router","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Router":{"main":[[{"node":"Find User","type":"main","index":0}],[{"node":"Generate Token","type":"main","index":0}],[{"node":"Prepare Update","type":"main","index":0}],[{"node":"Extract Heartbeat Row","type":"main","index":0}],[{"node":"Error Response","type":"main","index":0}]]},"Find User":{"main":[[{"node":"Extract User","type":"main","index":0}]]},"Extract User":{"main":[[{"node":"Respond Get User","type":"main","index":0}]]},"Generate Token":{"main":[[{"node":"Create User in DB","type":"main","index":0}]]},"Create User in DB":{"main":[[{"node":"Respond Create User","type":"main","index":0}]]},"Prepare Update":{"main":[[{"node":"Update Progress in DB","type":"main","index":0}]]},"Update Progress in DB":{"main":[[{"node":"Respond Update Progress","type":"main","index":0}]]},"Extract Heartbeat Row":{"main":[[{"node":"Update Heartbeat","type":"main","index":0}]]},"Update Heartbeat":{"main":[[{"node":"Respond Heartbeat","type":"main","index":0}]]}},"authors":"Serjoscha During","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-07T23:56:33.441Z","id":60,"workflowId":"WJVgvn9AaEQOBgeN","versionId":"8900af2b-ec49-4244-b595-b88ac365d111","event":"activated","userId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f"}]}}