n8n/workflow-audio-api.json
{"updatedAt":"2026-02-08T00:09:09.861Z","createdAt":"2026-02-07T23:49:43.628Z","id":"s6V10msYVTScyQMp","name":"Surayt Audio API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"surayt-audio","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"surayt-audio-webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"version":2,"typeValidation":"strict","leftValue":""},"conditions":[{"id":"cond-appkey","leftValue":"={{ $json.headers['x-app-key'] }}","rightValue":"surayt-2026-key","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if-appkey","name":"Check App Key","type":"n8n-nodes-base.if","typeVersion":2,"position":[260,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({error: 'Unauthorized'}) }}","options":{"responseCode":401}},"id":"respond-unauth","name":"Respond Unauthorized","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[520,500]},{"parameters":{"rules":{"values":[{"outputKey":"upload","conditions":{"conditions":[{"id":"rule-upload","leftValue":"={{ $json.body.action }}","rightValue":"upload","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"list","conditions":{"conditions":[{"id":"rule-list","leftValue":"={{ $json.body.action }}","rightValue":"list","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"delete","conditions":{"conditions":[{"id":"rule-delete","leftValue":"={{ $json.body.action }}","rightValue":"delete","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true}]},"options":{}},"id":"switch-router","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[520,300]},{"parameters":{"jsCode":"const body = $input.first().json.body;\nreturn [{\n  json: {\n    user_token: body.token,\n    word_id: body.word_id || null,\n    type: body.type || 'word',\n    title: body.title || '',\n    speaker_name: body.speaker || '',\n    duration: body.duration || 0,\n    recorded_at: new Date().toISOString()\n  }\n}];","mode":"runOnceForAllItems"},"id":"code-prepare-upload","name":"Prepare Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,100]},{"parameters":{"method":"POST","url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"http-upload","name":"Create Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,100],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-upload","name":"Respond Upload","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1320,100]},{"parameters":{"method":"GET","url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8?where=(user_token,eq,{{ $json.body.token }})&limit=100&sort=-recorded_at","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-list","name":"List Recordings","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,300],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-list","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1060,300]},{"parameters":{"method":"GET","url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8/{{ $json.body.row_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-find-row","name":"Find Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,520],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"jsCode":"const row = $input.first().json;\nconst requestToken = $('Webhook').first().json.body.token;\nif (row.user_token !== requestToken) {\n  return [{ json: { error: 'Not your recording' } }];\n}\nreturn [{ json: { rowId: row.Id, ok: true } }];","mode":"runOnceForAllItems"},"id":"code-verify-owner","name":"Verify Ownership","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"version":2,"typeValidation":"strict","leftValue":""},"conditions":[{"id":"cond-ok","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"if-owner-ok","name":"Is Owner?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1320,520]},{"parameters":{"method":"DELETE","url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8/{{ $json.rowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-delete","name":"Delete Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,440],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({deleted: true}) }}","options":{}},"id":"respond-deleted","name":"Respond Deleted","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,440]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({error: 'Not your recording'}) }}","options":{"responseCode":403}},"id":"respond-not-owner","name":"Respond Not Owner","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1580,640]}],"connections":{"Webhook":{"main":[[{"node":"Check App Key","type":"main","index":0}]]},"Check App Key":{"main":[[{"node":"Router","type":"main","index":0}],[{"node":"Respond Unauthorized","type":"main","index":0}]]},"Router":{"main":[[{"node":"Prepare Upload","type":"main","index":0}],[{"node":"List Recordings","type":"main","index":0}],[{"node":"Find Row","type":"main","index":0}]]},"Prepare Upload":{"main":[[{"node":"Create Row","type":"main","index":0}]]},"Create Row":{"main":[[{"node":"Respond Upload","type":"main","index":0}]]},"List Recordings":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Find Row":{"main":[[{"node":"Verify Ownership","type":"main","index":0}]]},"Verify Ownership":{"main":[[{"node":"Is Owner?","type":"main","index":0}]]},"Is Owner?":{"main":[[{"node":"Delete Row","type":"main","index":0}],[{"node":"Respond Not Owner","type":"main","index":0}]]},"Delete Row":{"main":[[{"node":"Respond Deleted","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c256c31e-93b6-45e5-8275-7b6df52aa486","activeVersionId":"c256c31e-93b6-45e5-8275-7b6df52aa486","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-02-07T23:49:43.634Z","createdAt":"2026-02-07T23:49:43.634Z","role":"workflow:owner","workflowId":"s6V10msYVTScyQMp","projectId":"dlCu6IRWoTzv6lC7","project":{"updatedAt":"2024-09-09T22:37:32.381Z","createdAt":"2024-09-09T17:25:52.606Z","id":"dlCu6IRWoTzv6lC7","name":"Serjoscha During <ser.due@me.com>","type":"personal","icon":null,"description":null,"creatorId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","projectRelations":[{"updatedAt":"2024-09-09T17:25:52.606Z","createdAt":"2024-09-09T17:25:52.606Z","userId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","projectId":"dlCu6IRWoTzv6lC7","user":{"updatedAt":"2026-02-09T23:47:34.000Z","createdAt":"2024-09-09T17:25:51.891Z","id":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","email":"ser.due@me.com","firstName":"Serjoscha","lastName":"During","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-09T22:37:45.710Z","personalization_survey_n8n_version":"1.57.0","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"O1ykmELL54Eg3lIY","userActivatedAt":1726043234558,"npsSurvey":{"responded":true,"lastShownAt":1762416426003},"isOnboarded":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-02-08T00:20:12.973Z","createdAt":"2026-02-08T00:20:12.973Z","id":"2DqHmbMSIwxZOIoC","name":"Surayt-App"}],"activeVersion":{"updatedAt":"2026-02-08T00:09:09.862Z","createdAt":"2026-02-08T00:09:09.862Z","versionId":"c256c31e-93b6-45e5-8275-7b6df52aa486","workflowId":"s6V10msYVTScyQMp","nodes":[{"parameters":{"httpMethod":"POST","path":"surayt-audio","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"surayt-audio-webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"version":2,"typeValidation":"strict","leftValue":""},"conditions":[{"id":"cond-appkey","leftValue":"={{ $json.headers['x-app-key'] }}","rightValue":"surayt-2026-key","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if-appkey","name":"Check App Key","type":"n8n-nodes-base.if","typeVersion":2,"position":[260,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({error: 'Unauthorized'}) }}","options":{"responseCode":401}},"id":"respond-unauth","name":"Respond Unauthorized","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[520,500]},{"parameters":{"rules":{"values":[{"outputKey":"upload","conditions":{"conditions":[{"id":"rule-upload","leftValue":"={{ $json.body.action }}","rightValue":"upload","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"list","conditions":{"conditions":[{"id":"rule-list","leftValue":"={{ $json.body.action }}","rightValue":"list","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true},{"outputKey":"delete","conditions":{"conditions":[{"id":"rule-delete","leftValue":"={{ $json.body.action }}","rightValue":"delete","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"version":2,"caseSensitive":true,"typeValidation":"strict","leftValue":""}},"renameOutput":true}]},"options":{}},"id":"switch-router","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[520,300]},{"parameters":{"jsCode":"const body = $input.first().json.body;\nreturn [{\n  json: {\n    user_token: body.token,\n    word_id: body.word_id || null,\n    type: body.type || 'word',\n    title: body.title || '',\n    speaker_name: body.speaker || '',\n    duration: body.duration || 0,\n    recorded_at: new Date().toISOString()\n  }\n}];","mode":"runOnceForAllItems"},"id":"code-prepare-upload","name":"Prepare Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,100]},{"parameters":{"method":"POST","url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"http-upload","name":"Create Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,100],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-upload","name":"Respond Upload","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1320,100]},{"parameters":{"method":"GET","url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8?where=(user_token,eq,{{ $json.body.token }})&limit=100&sort=-recorded_at","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-list","name":"List Recordings","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,300],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"respond-list","name":"Respond List","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1060,300]},{"parameters":{"method":"GET","url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8/{{ $json.body.row_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-find-row","name":"Find Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,520],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"jsCode":"const row = $input.first().json;\nconst requestToken = $('Webhook').first().json.body.token;\nif (row.user_token !== requestToken) {\n  return [{ json: { error: 'Not your recording' } }];\n}\nreturn [{ json: { rowId: row.Id, ok: true } }];","mode":"runOnceForAllItems"},"id":"code-verify-owner","name":"Verify Ownership","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,520]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"version":2,"typeValidation":"strict","leftValue":""},"conditions":[{"id":"cond-ok","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"if-owner-ok","name":"Is Owner?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1320,520]},{"parameters":{"method":"DELETE","url":"=https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mblag22rb4fnng8/{{ $json.rowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"id":"http-delete","name":"Delete Row","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,440],"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({deleted: true}) }}","options":{}},"id":"respond-deleted","name":"Respond Deleted","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,440]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({error: 'Not your recording'}) }}","options":{"responseCode":403}},"id":"respond-not-owner","name":"Respond Not Owner","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1580,640]}],"connections":{"Webhook":{"main":[[{"node":"Check App Key","type":"main","index":0}]]},"Check App Key":{"main":[[{"node":"Router","type":"main","index":0}],[{"node":"Respond Unauthorized","type":"main","index":0}]]},"Router":{"main":[[{"node":"Prepare Upload","type":"main","index":0}],[{"node":"List Recordings","type":"main","index":0}],[{"node":"Find Row","type":"main","index":0}]]},"Prepare Upload":{"main":[[{"node":"Create Row","type":"main","index":0}]]},"Create Row":{"main":[[{"node":"Respond Upload","type":"main","index":0}]]},"List Recordings":{"main":[[{"node":"Respond List","type":"main","index":0}]]},"Find Row":{"main":[[{"node":"Verify Ownership","type":"main","index":0}]]},"Verify Ownership":{"main":[[{"node":"Is Owner?","type":"main","index":0}]]},"Is Owner?":{"main":[[{"node":"Delete Row","type":"main","index":0}],[{"node":"Respond Not Owner","type":"main","index":0}]]},"Delete Row":{"main":[[{"node":"Respond Deleted","type":"main","index":0}]]}},"authors":"Serjoscha During","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-08T00:09:10.041Z","id":64,"workflowId":"s6V10msYVTScyQMp","versionId":"c256c31e-93b6-45e5-8275-7b6df52aa486","event":"activated","userId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f"}]}}