n8n/workflow-content-api.json
{"updatedAt":"2026-02-08T00:06:17.113Z","createdAt":"2026-02-07T23:49:40.675Z","id":"1lAXLYXbcpkrHZdc","name":"Surayt Content API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"surayt-content","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"surayt-content","id":"7db320d7-da62-48bb-87c4-22a439a19260"},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mkcdwpsyyfwe0nm?limit=500","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"name":"Get Words","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-400],"id":"e12d40db-0b42-4d07-8fd4-9fb3c1f3a293","credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/m8k6y3ysretdvbs?limit=50","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"name":"Get Alphabet","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-208],"id":"16d2e858-0fe0-4a88-905e-4aa680e56e03","credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mryyw32blyw2si5?limit=100","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"name":"Get Phrases","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,0],"id":"8dd4afe4-293c-48ff-8dae-12a6eb59957f","credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mz4kt75lu24ixzg?limit=200&sort=turn_order","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,208],"id":"b158a275-21e2-431c-8932-422d983bc86a","credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mqrmp6lbua5qe7e?limit=50","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"name":"Get Proverbs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,400],"id":"58f6a12d-59c4-41e2-9aa6-84a008e7c3ce","credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}}},{"parameters":{"jsCode":"const words = $('Get Words').first().json.list || [];\nconst alphabet = $('Get Alphabet').first().json.list || [];\nconst phrases = $('Get Phrases').first().json.list || [];\nconst conversations = $('Get Conversations').first().json.list || [];\nconst proverbs = $('Get Proverbs').first().json.list || [];\nreturn {\n  json: {\n    words,\n    alphabet,\n    phrases,\n    conversations,\n    proverbs,\n    _fetched_at: new Date().toISOString()\n  }\n};"},"name":"Merge Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,32],"id":"772604d9-eab0-448f-ba0d-6d2ba2d02cad"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[944,32],"id":"eec8b764-2994-418e-baed-f42db7390689"}],"connections":{"Webhook":{"main":[[{"node":"Get Words","type":"main","index":0},{"node":"Get Alphabet","type":"main","index":0},{"node":"Get Phrases","type":"main","index":0},{"node":"Get Conversations","type":"main","index":0},{"node":"Get Proverbs","type":"main","index":0}]]},"Get Words":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Get Alphabet":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Get Phrases":{"main":[[{"node":"Merge Results","type":"main","index":2}]]},"Get Conversations":{"main":[[{"node":"Merge Results","type":"main","index":3}]]},"Get Proverbs":{"main":[[{"node":"Merge Results","type":"main","index":4}]]},"Merge Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"92a3a680-eea2-4d5a-ba4c-3128d13eee46","activeVersionId":"ae02fc81-e396-4cb0-b2aa-2abe53942485","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-02-07T23:49:40.680Z","createdAt":"2026-02-07T23:49:40.680Z","role":"workflow:owner","workflowId":"1lAXLYXbcpkrHZdc","projectId":"dlCu6IRWoTzv6lC7","project":{"updatedAt":"2024-09-09T22:37:32.381Z","createdAt":"2024-09-09T17:25:52.606Z","id":"dlCu6IRWoTzv6lC7","name":"Serjoscha During <ser.due@me.com>","type":"personal","icon":null,"description":null,"creatorId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","projectRelations":[{"updatedAt":"2024-09-09T17:25:52.606Z","createdAt":"2024-09-09T17:25:52.606Z","userId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","projectId":"dlCu6IRWoTzv6lC7","user":{"updatedAt":"2026-02-09T23:47:34.000Z","createdAt":"2024-09-09T17:25:51.891Z","id":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f","email":"ser.due@me.com","firstName":"Serjoscha","lastName":"During","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-09T22:37:45.710Z","personalization_survey_n8n_version":"1.57.0","companyType":"personal","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"O1ykmELL54Eg3lIY","userActivatedAt":1726043234558,"npsSurvey":{"responded":true,"lastShownAt":1762416426003},"isOnboarded":true,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-02-08T00:20:12.973Z","createdAt":"2026-02-08T00:20:12.973Z","id":"2DqHmbMSIwxZOIoC","name":"Surayt-App"}],"activeVersion":{"updatedAt":"2026-02-07T23:49:40.685Z","createdAt":"2026-02-07T23:49:40.685Z","versionId":"ae02fc81-e396-4cb0-b2aa-2abe53942485","workflowId":"1lAXLYXbcpkrHZdc","nodes":[{"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"GET","path":"surayt-content","responseMode":"responseNode","options":{}},"webhookId":"surayt-content","id":"7db320d7-da62-48bb-87c4-22a439a19260"},{"name":"Get Words","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,-400],"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mkcdwpsyyfwe0nm?limit=500","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}},"id":"e12d40db-0b42-4d07-8fd4-9fb3c1f3a293"},{"name":"Get Alphabet","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,-200],"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/m8k6y3ysretdvbs?limit=50","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}},"id":"16d2e858-0fe0-4a88-905e-4aa680e56e03"},{"name":"Get Phrases","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,0],"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mryyw32blyw2si5?limit=100","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}},"id":"8dd4afe4-293c-48ff-8dae-12a6eb59957f"},{"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,200],"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mz4kt75lu24ixzg?limit=200&sort=turn_order","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}},"id":"b158a275-21e2-431c-8932-422d983bc86a"},{"name":"Get Proverbs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,400],"parameters":{"url":"https://nocodb.run8n.xyz/api/v1/db/data/noco/pfc85e1x5bmxs0g/mqrmp6lbua5qe7e?limit=50","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{}},"credentials":{"httpHeaderAuth":{"id":"RwsNAtv3iBCVs2i1","name":"NocoDB Surayt"}},"id":"58f6a12d-59c4-41e2-9aa6-84a008e7c3ce"},{"name":"Merge Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0],"parameters":{"jsCode":"const words = $('Get Words').first().json.list || [];\nconst alphabet = $('Get Alphabet').first().json.list || [];\nconst phrases = $('Get Phrases').first().json.list || [];\nconst conversations = $('Get Conversations').first().json.list || [];\nconst proverbs = $('Get Proverbs').first().json.list || [];\nreturn {\n  json: {\n    words,\n    alphabet,\n    phrases,\n    conversations,\n    proverbs,\n    _fetched_at: new Date().toISOString()\n  }\n};","mode":"runOnceForAllItems"},"id":"772604d9-eab0-448f-ba0d-6d2ba2d02cad"},{"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,0],"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"eec8b764-2994-418e-baed-f42db7390689"}],"connections":{"Webhook":{"main":[[{"node":"Get Words","type":"main","index":0},{"node":"Get Alphabet","type":"main","index":0},{"node":"Get Phrases","type":"main","index":0},{"node":"Get Conversations","type":"main","index":0},{"node":"Get Proverbs","type":"main","index":0}]]},"Get Words":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Get Alphabet":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Get Phrases":{"main":[[{"node":"Merge Results","type":"main","index":2}]]},"Get Conversations":{"main":[[{"node":"Merge Results","type":"main","index":3}]]},"Get Proverbs":{"main":[[{"node":"Merge Results","type":"main","index":4}]]},"Merge Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Serjoscha During","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-07T23:49:49.117Z","id":49,"workflowId":"1lAXLYXbcpkrHZdc","versionId":"ae02fc81-e396-4cb0-b2aa-2abe53942485","event":"activated","userId":"7e8292bf-5e82-4e42-99e9-72cd6e09ea3f"}]}}